@font-face {
	font-family: 'Oswald';
	src: url('../fonts/oswald.woff2');
}

.navbar {
	position: relative;
	min-height: 40px;
	margin-bottom: 20px;
	border: 1px solid transparent
}

.nav>li>a {
	color: #D9534F;
}

.nav-pills>li>a {
	border-radius: 4px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
	{
	color: #fff;
	background-color: #D9534F;
}

.nav-pills>li>a {
	border-radius: 4px;
}

.navbar-brand {
	text-shadow: 2px 2px 4px #C0BEBE;
	font-family: 'Oswald', sans-serif;
	float: left;
	padding: 8px 14px;
	font-size: 34px;
}

.navbar-brand:hover {
	color: white !important;
	background-color: transparent
}

.dashboard-logo {
	color: #fff;
	margin-left: 20px;
	font-size: 44px;
	float: left;
}

.dashboard {
	display: inline-block;
	margin-left: -5px;
	margin-top: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #F9F2F1;
}
.total-count{
	text-shadow: 2px 2px 4px #C0BEBE;
	font-family: 'Oswald', sans-serif;
	text-align: right;
	font-size: 20px;
}
.huge {
font-size: 40px;
text-shadow: 2px 2px 4px #C0BEBE;	
}
}